{% extends "./base.html" %} 
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}

    {% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo </th>
                <th>Jornada</th>
                <th>Inicio</th>
                <th>Termino</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% for jornada in object_list %}
            <tr>
                <td>{{ jornada.id_jordana }}</td>
                <td>{{ jornada.codigo }}</td>
                <td>{{ jornada.descripcion }}</td>
                <td>{{ jornada.inicio }}</td>
                <td>{{ jornada.termino }}</td>
                <td>
                    {% block hrefeditar %} 

               
                    <div class="btn-group">
                        <a href="{% url 'editajornada'  jornada.id_jordana %}" title="Editar" type="button"
                        class="btn btn-primary">Editar </a>
                        {% endblock%}
                  
    
                  <div class="btn-group">
                    <a href="{% url 'eliminajornada' jornada.id_jordana %}"  title="Eliminar" type="button" 
                                class="btn btn-danger">Eliminiar </a>
 
                  </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>


    {% bootstrap_javascript jquery='full' %}

    <script type="text/javascript">
        function eliminar() {
            var x = confirm("Eliminar Asistencia?");
            if (x)
                return true;
            else
                return false;
        }
    </script>
{% endblock %}
